<div class="shadow-sm  col-md-12 float-left border rounded text-center pl-0 pr-0  pt-2 pb-2  mt-2 mb-2 " style="background-color: #19bd9b;">

    <div class="col-md-12 mx-auto pl-0 pr-0 ml-0 mr-0 mb-4  ">
        <div class="shadow-sm  col-md-12 float-left">
                <div class="col-md-12 float-left ">
                    
                <div class="col-md-10 float-left pl-0 pr-0 pb-3 page-height text-center">
                    <img src="assets/images/coming-soon2.png" class="img-responsive"  />
                </div>
                    <div class="card-body mt-3 col-md-12 float-left ">
                        
          
                        <form  class="mx-auto text-13 col-md-12 float-left ">
                            <div class="form-group col-md-12 float-left">
                               
        
                                <div class="col-sm-5 float-left">
                                    
                                </div>
                            </div>
                            <div class="form-group col-md-12 float-left">
                               
        
                                <div class="col-sm-5 float-left">
                                    
                                </div>
                            </div>
                            <div class="form-group col-md-12 float-left">
                                
                            </div>
        
                            <div class="form-group col-md-12 float-left">
    
                            </div>
              
                        </form>
                    </div>
                    </div>
                </div>
    </div>
    
    
    </div>