
    <div class="col-md-12 float-left pl-0 pr-0 ml-0 mr-0 mb-4 pb-5">
        <div class=" mt-2 mb-2 flex-row d-flex justify-content-around data-box float-left col-md-12 pl-0 pr-0">

        <!-- <a href="/home/ecprofile"class="box-shadow-hover " >  -->
        <div class="shadow text-center border float-left border-radius h-pointer pt-3 pb-3 bg-white box-height text-13 pl-5 pr-5 rounded justify-content-around" >  
            <img src="assets/images/icon03.png" class="img-responsive" (click)="callecprofile()" />
            <div class="title-col" > Eligible Couples </div>
        </div> 
      
        <div class="shadow text-center border float-left border-radius pt-3 opacity-img pb-3 bg-white box-height text-13 pl-5 pr-5 rounded justify-content-around">     
            <img src="assets/images/icon04.png" class="img-responsive"/>        
            <div class="title-col"> Pregnant Woman <br>Entry </div> 
            <div class="coming-soon"> Coming Soon </div>   
        </div>  
      
        <div class="shadow text-center border float-left border-radius pt-3 box-height opacity-img pb-3 bg-white text-13 pl-5 pr-5 rounded justify-content-around">
             <img src="assets/images/icon05.png" class="img-responsive"/>
            <div class="title-col"> Child Entry </div>
            <div class="coming-soon"> Coming Soon </div>
        </div> 
        
        <div class="shadow text-center box-height border float-left border-radius opacity-img pt-3 pb-3 bg-white text-13 pl-5 pr-5 rounded justify-content-around">  
            <img src="assets/images/icon07.png" class="img-responsive"/>
            <div class="title-col"> Bank Details <br> Entry </div>
            <div class="coming-soon"> Coming Soon </div>
        </div> 
    </div>
    <div class="mt-3 mb-2 flex-row float-left d-flex justify-content-around data-box col-md-12 pl-0 pr-0">

        <div class="shadow text-center box-height border float-left border-radius opacity-img pt-3 pb-3 bg-white text-13 pl-5 pr-5 rounded justify-content-around">     
            <img src="assets/images/icon08.png" class="img-responsive"/>        
            <div class="title-col"> Direct Data <br> Entry </div>   
            <div class="coming-soon"> Coming Soon </div> 
        </div> 
          <div class="shadow text-center box-height border float-left border-radius opacity-img pt-3 pb-3 bg-white text-13 pl-5 pr-5 rounded justify-content-around">
             <img src="assets/images/icon09.png" class="img-responsive"/>
            <div class="title-col"> Advanced Search</div>
            <div class="coming-soon"> Coming Soon </div>
        </div> 
         <div class="shadow text-center border  box-height float-left border-radius pt-3 opacity-img pb-3 bg-white text-13 pl-5 pr-5 rounded justify-content-around">      
            <img src="assets/images/icon10.png" class="img-responsive"/>
            <div class="title-col"> EC <br> Re-Registration  </div>
            <div class="coming-soon"> Coming Soon </div>
        </div> 
         <div class="shadow text-center box-height border float-left border-radius opacity-img pt-3 pb-3 bg-white text-13 pl-5 pr-5 rounded justify-content-around">  
        <img src="assets/images/icon11.png" class="img-responsive"/>
        <div class="title-col"> Edit Module </div>
        <div class="coming-soon"> Coming Soon </div>
    </div> 
    </div>
    <div class="mt-3 mb-4 flex-row d-flex float-left justify-content-around data-box col-md-6 pl-0 pr-0 ">

          <div class="shadow text-center box-height border float-left border-radius opacity-img pt-3 pb-3 bg-white text-13 pl-5 pr-5 rounded justify-content-around">     
            <img src="assets/images/icon12.png" class="img-responsive"/>        
            <div class="title-col"> JSY PFMS <br> Module</div>   
            <div class="coming-soon"> Coming Soon </div> 
        </div>
         <div class="shadow text-center box-height border float-left border-radius opacity-img pt-3 pb-3 bg-white text-13 pl-5 pr-5 rounded justify-content-around">
             <img src="assets/images/icon13.png" class="img-responsive"/>
            <div class="title-col">Update EC <br> Status</div>
            <div class="coming-soon"> Coming Soon </div>
        </div> 
    </div>
    
    </div>
    <div class="col-md-12 float-left mt-5 mb-5"></div>