<div class="col-md-10 pl-0 pr-0 mb-4 mt-2 mx-auto ">
  <div class="col-md-12 float-left">
  <div class=" col-md-8 float-left logo-m ">
     <img src="assets/images/logo-rch.png" alt="logo" class="img-responsive h-pointer"  (click)="changePage()">
  </div>
  <div class=" col-md-4 float-right text-right nhm-logo">
    <img src="assets/images/nhm-toplogo.png" alt="logo" class="logo float-left col-md-5">
   <a href="/login"> <button type="submit"  class="btn btn-block bg-danger text-white mb-4 float-left col-md-6 mt-3 radius-p">Sign In </button> </a>
</div>
</div>
</div>
 <div class="card mx-auto col-md-8  login-card mb-5">
  <p class="login-card-description  bg-primary text-white pt-2 pb-2 pl-2 mt-3 ">Websites </p>
  <table class="table">
    <tbody class="text-14"><tr>
        <th scope="row">1.</th>
        <td>
 Ministry of Health & Family Welfare 
</td><td>
    <a href="https://mohfw.gov.in" target="_blank">https://mohfw.gov.in</a></td></tr>
    <tr>
    <th scope="row">2.</th>
    <td>
        Central Bureau of Health Intelligence 
</td><td>
<a href="https://cbhidghs.nic.in/" target="_blank">https://cbhidghs.nic.in</a></td></tr><tr>
<th scope="row">3.</th>
<td>
    Department of Health Research 
</td><td>
<a href="https://dhr.gov.in/" target="_blank">https://www.dhr.gov.in/</a></td></tr>

<tr>
<th scope="row">4.</th>
<td>
    Department of Ayurveda, Yoga & Naturopathy, Unani, Siddha and Homoeopathy(AYUSH)
</td><td>
<a href="https://indianmedicine.nic.in/" target="_blank">https://indianmedicine.nic.in/</a></td></tr>
<tr>
<th scope="row">5.</th>
<td>
Department of AIDS Control
</td><td>
<a href="http://naco.gov.in/" target="_blank">http://www.naco.gov.in/</a></td></tr><tr>
<th scope="row">6.</th>
<td>
Food Safety and Standards Authority of India
</td><td>
<a href="http://fssai.gov.in/" target="_blank">http://fssai.gov.in/</a></td></tr>

<tr>
<th scope="row">7.</th>
<td>
National Centre for Disease Control
</td><td>
<a href="https://ncdc.gov.in/" target="_blank">  https://www.ncdc.gov.in/</a></td></tr>
<tr>
<th scope="row">8.</th>
<td>
The Pre-Natal Diagnostic Techniques
</td><td>
<a href="http://pndt.gov.in/" target="_blank">http://pndt.gov.in/</a></td></tr><tr>
<th scope="row">9.</th>
<td>
Central Tuberculosis Divison
</td><td>
<a href="http://tbcindia.nic.in" target="_blank">http://tbcindia.nic.in</a></td></tr>
    </tbody></table>
    <p  class="mb-3 pb-5"></p>
   </div>
      
  
  
   