<div class="col-md-10 pl-0 pr-  r 50 mb-4 mt-2 mx-auto ">
  <div class="col-md-12 float-left">
  <div class=" col-md-8 float-left logo-m ">
      <a href=""> <img src="assets/images/logo-rch.png" alt="logo" class="logo"> </a>
  </div>
  <div class=" col-md-4 float-right text-right nhm-logo">
    <img src="assets/images/nhm-toplogo.png" alt="logo" class="logo float-left col-md-5">
   <a href="/login"> <button type="submit"  class="btn btn-block bg-danger text-white mb-4 float-left col-md-6 mt-3 radius-p">Sign In </button> </a>
</div>
</div>
</div>

    <div class="card mx-auto col-md-7 login-card mb-5">
      <div class=" no-gutters col-md-12">
        <div class="col-md-12">
          <div class="card-body mt-3 ">
            <p class="login-card-description  bg-primary text-white pt-2 pb-2 pl-2 ">Register Here  </p>
            <form   autocomplete="off" class="mx-auto text-13">
                <div class="col-md-12 pl-0 pr-0 ml-2 mr-0 mt-1 float-left mb-2">
                  <label for="staticEmail" class="col-sm-2 col-form-label float-left pl-0 pr-0 ">Name : </label>
                  <div class="col-sm-8 pl-0 ml-0 float-left ml-3">
                    <input type="text" placeholder="First Name" class="form-control col-md-4 mr-2 ml-0  float-left" >
                    <input type="text" placeholder="Second Name" class="form-control col-md-4 mr-2 float-left" >
                    <input type="text" placeholder="Last Name" class="form-control col-md-3 float-left" >
                  </div>
                </div>
                <div class="col-md-12 pl-0 pr-0 ml-0 mr-0 mt-1 float-left">  
                    <div class="form-group col-md-6 float-left pl-0 pr-0">
                    <label  class="col-sm-5 col-form-label float-left pl-0 pr-0 "> User Name : </label>
                    <div class="col-sm-7 pl-0 ml-0 float-left"><input  class="form-control  pr-4" type="text"/> </div>
                    </div>
                    <div class="form-group col-md-6 float-left pl-0 pr-0">
                        <label for="inputPassword" class="col-sm-5 col-form-label float-left pl-0 pr-0 ">Email : </label>
                        <div class="col-sm-7 float-left pl-0 ml-0"><input  class="form-control pr-4" type="text"/> </div>
                    </div>               
                </div> 
                <div class="col-md-12 pl-0 pr-0 ml-0 mr-0 mt-1 float-left">  
                    <div class="form-group col-md-6 float-left pl-0 pr-0">
                    <label  class="col-sm-5 col-form-label float-left pl-0 pr-0 "> Mobile : </label>
                    <div class="col-sm-7 float-left pl-0 ml-0"><input  class="form-control text-right pr-2" type="text"/> </div>
                    </div>
                    <div class="form-group col-md-6 float-left pl-0 pr-0">
                        <label for="inputPassword" class="col-sm-5 col-form-label float-left pl-0 pr-0 ">Address : </label>
                        <div class="col-sm-7 float-left pl-0 ml-0"><input  class="form-control  " type="text"/> </div>
                    </div>               
                </div>                
                <div class="col-md-12 pl-0 pr-0 ml-0 mr-0 mt-1 float-left">  
                    <div class="form-group col-md-6 float-left pl-0 pr-0">
                    <label  class="col-sm-5 col-form-label float-left pl-0 pr-0 "> DOB : </label>
                    <div class="col-sm-7 float-left pl-0 ml-0"><input  class="form-control text-right pr-4" type="text"> <div class="font-icon pl-4"> <i class="fa fa-calendar"></i> </div> </div>
                    </div>
                    <div class="form-group col-md-6 float-left pl-0 pr-0">
                        <label for="inputPassword" class="col-sm-5 col-form-label pl-0 pr-0 float-left ">Gender : </label>
                        <div class="col-sm-7 float-left pl-0 ml-0">  <select class="form-control" id="exampleFormControlSelect1">
                            <option>Please Select </option>
                            <option>Male </option>
                            <option>Female</option>
                            <option>Transgender</option>
                          </select> </div>
                    </div>               
                </div> 
                <div class="col-md-12 pl-0 pr-0 ml-0 mr-0 mt-1 float-left">  
                    <div class="form-group col-md-6 float-left pl-0 pr-0">
                    <label  class="col-sm-5 col-form-label float-left pl-0 pr-0 "> Designation : </label>
                    <div class="col-sm-7 float-left pl-0 ml-0"><input  class="form-control text-right pr-4" type="text"/>  </div>
                    </div>
                    <div class="form-group col-md-6 float-left pl-0 pr-0">
                        <label for="inputPassword" class="col-sm-5 col-form-label pl-0 pr-0 float-left ">Type : </label>
                        <div class="col-sm-7 float-left pl-0 ml-0">  <select class="form-control" id="exampleFormControlSelect1">
                            <option>Please Select </option>
                            <option> 01 </option>
                            <option>02 </option>
                            <option>03</option>
                          </select> </div>
                    </div>               
                </div>  
                
                <div class="col-md-12 pl-0 pr-0 ml-0 mr-0 mt-1 float-left">  
                    <div class="form-group col-md-6 float-left pl-0 pr-0">
                    <label  class="col-sm-5 col-form-label float-left pl-0 pr-0 "> State : </label>
                    <div class="col-sm-7 float-left pl-0 ml-0"><select class="form-control" id="exampleFormControlSelect1">
                        <option>Please Select </option>
                        <option> 01 </option>
                        <option>02 </option>
                        <option>03</option>
                      </select> </div>
                    </div>
                    <div class="form-group col-md-6 float-left pl-0 pr-0">
                        <label for="inputPassword" class="col-sm-5 col-form-label pl-0 pr-0 float-left ">District : </label>
                        <div class="col-sm-7 float-left pl-0 ml-0">  <select class="form-control" id="exampleFormControlSelect1">
                            <option>Please Select </option>
                            <option> 01 </option>
                            <option>02 </option>
                            <option>03</option>
                          </select> </div>
                    </div>               
                </div>    
                
                <div class="col-md-12 pl-0 pr-0 ml-0 mr-0 mt-1 float-left">  
                    <div class="form-group col-md-6 float-left pl-0 pr-0">
                    <label  class="col-sm-5 col-form-label float-left pl-0 pr-0 "> Rural/Urban : </label>
                    <div class="col-sm-7 float-left pl-0 ml-0"><select class="form-control" id="exampleFormControlSelect1">
                        <option>Please Select </option>
                        <option> 01 </option>
                        <option>02 </option>
                        <option>03</option>
                      </select> </div>
                    </div>
                    <div class="form-group col-md-6 float-left pl-0 pr-0">
                        <label for="inputPassword" class="col-sm-5 col-form-label pl-0 pr-0 float-left ">Health Block /<br> ULB : </label>
                        <div class="col-sm-7 float-left pl-0 ml-0">  <select class="form-control" id="exampleFormControlSelect1">
                            <option>Please Select </option>
                            <option> 01 </option>
                            <option>02 </option>
                            <option>03</option>
                          </select> </div>
                    </div>               
                </div>   
                <div class="col-md-12 pl-0 pr-0 ml-0 mr-0 mt-1 float-left">  
                  <div class="form-group col-md-6 float-left pl-0 pr-0">
                  <label  class="col-sm-5 col-form-label float-left pl-0 pr-0 ">Health Facility <br>Type : </label>
                  <div class="col-sm-7 float-left pl-0 ml-0"><select class="form-control" id="exampleFormControlSelect1">
                      <option>Please Select </option>
                      <option> 01 </option>
                      <option>02 </option>
                      <option>03</option>
                    </select> </div>
                  </div>
                  <div class="form-group col-md-6 float-left pl-0 pr-0">
                      <label for="inputPassword" class="col-sm-5 col-form-label pl-0 pr-0 float-left ">Health Facility : </label>
                      <div class="col-sm-7 float-left pl-0 ml-0">  <select class="form-control" id="exampleFormControlSelect1">
                          <option>Please Select </option>
                          <option> 01 </option>
                          <option>02 </option>
                          <option>03</option>
                        </select> </div>
                  </div>               
              </div> 
              <div class="col-md-12 pl-0 pr-0 ml-0 mr-0 mt-1 float-left">  
                <div class="form-group col-md-6 float-left pl-0 pr-0">
                <label  class="col-sm-5 col-form-label float-left pl-0 pr-0 ">Sub Facility : </label>
                <div class="col-sm-7 float-left pl-0 ml-0"><select class="form-control" id="exampleFormControlSelect1">
                    <option>Please Select </option>
                    <option> 01 </option>
                    <option>02 </option>
                    <option>03</option>
                  </select> </div>
                </div>
                <div class="form-group col-md-6 float-left pl-0 pr-0">
                    <label for="inputPassword" class="col-sm-5 col-form-label pl-0 pr-0 float-left ">Village : </label>
                    <div class="col-sm-7 float-left pl-0 ml-0">  <select class="form-control" id="exampleFormControlSelect1">
                        <option>Please Select </option>
                        <option> 01 </option>
                        <option>02 </option>
                        <option>03</option>
                      </select> </div>
                </div>               
            </div> 
            <div class="col-md-12 pl-0 pr-0 ml-0 mr-0 mt-1 float-left">  
              <div class="form-group col-md-6 float-left pl-0 pr-0">
              <label  class="col-sm-5 col-form-label float-left pl-0 pr-0 ">Enter Mobile No. :   <span> * </span>  </label>
              <div class="col-sm-7 float-left pl-0 ml-0"> <input  class="form-control text-right pr-2" type="text"/></div>
              </div>
              <div class="form-group col-md-6 float-left pl-0 pr-0">
                <button type="submit"  class="btn bg-success text-white text-13 mt-1 radius-p"> Get OTP </button>
                <button type="submit"  class="btn bg-info text-white text-13 mt-1 ml-2 radius-p "> Resend OTP </button>
                
              </div>               
            </div> 
            <div class="col-md-12 pl-0 pr-0 ml-0 mr-0 mt-1 float-left">  
              <div class="form-group col-md-6 float-left pl-0 pr-0">
              <label  class="col-sm-5 col-form-label float-left pl-0 pr-0 ">Enter OTP : </label>
              <div class="col-sm-7 float-left pl-0 ml-0"> <input  class="form-control text-right pr-2" type="text"/></div>
              </div>
              <div class="form-group col-md-6 float-left pl-0 pr-0">
                  <label for="inputPassword" class="col-sm-4 col-form-label pl-0 pr-0 float-left ">Enter Captcha : </label>
                  <div class="col-sm-4 float-left pl-0 ml-0"><input  class="form-control text-right pr-2" type="text"/>  </div>
                  <div class="col-sm-4 float-left pl-0 ml-0">  </div>
              </div>               
            </div>                        
                <div class="col-md-12 pl-0 pr-0 ml-0 mr-0 mt-1 float-left">  
                  <div class="col-sm-3 mx-auto">
                    <button type="submit"  class="btn btn-block login-btn mb-4 radius-p">Submit</button>
                  </div>
                </div>                              
            
              </form>

          </div>
        </div>
      </div>
    </div>
    
