<div class="card mx-auto col-md-8   login-card mb-5 mt-4">
    <div class=" no-gutters col-md-12 float-left">
        <div class="col-md-12 float-left pl-0 pr-0">
            <div class="card-body mt-3 ">
                <p class="login-card-description  bg-primary text-white pt-2 pb-2 pl-2 ">Change Password </p>
				
				
				
				<div class="alert alert-danger" role="alert" *ngIf="showServerresponseMsg">
                    {{errorresponse}}
                   </div>
				  
  
                   <form [formGroup]="changpassForm" (ngSubmit)="onSubmit(changpassForm)" autocomplete="off" class="mx-auto text-13">
				     <input type="hidden" class="form-control" id="user_id" formControlName="user_id">
					 
                    <div class="form-group col-md-12 float-left">
                        <label for="staticEmail" class="col-sm-5 col-form-label text-label float-left" >Old Password : <span> * </span></label>

                        <div class="col-sm-5 float-left">
                            <input type="password" id="oldpassword" class="form-control"  formControlName="oldpassword" [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }">
							
							<div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback error_msg">
                                <div class="error_msg1" *ngIf="f.oldpassword.errors.required">Old Password is required</div>
                            </div>
							
                        </div>
                    </div>
                    <div class="form-group col-md-12 float-left">
                        <label for="staticEmail" class="col-sm-5 col-form-label text-label float-left" >New Password : <span> * </span></label>

                        <div class="col-sm-5 float-left">
                            <input type="password" id="newpassword" class="form-control" formControlName="newpassword" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }" appBlockCopyPaste >
							
							
                           
							
								<div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback error_msg">
                                <div class="error_msg1" *ngIf="f.newpassword.errors.required">New Password is required</div>
								<div *ngIf="f.newpassword.errors.sameValidator">New Password must be different from your Old Password</div>
								 <div *ngIf="f.newpassword.touched && f.newpassword.errors?.invalidPassword"> Password should have minimum 10 characters, at least 1 uppercase letter, 1 lowercase
                                letter, 1 special character and 1 number</div>
                            </div>
							
							
                        </div>
                    </div>
                    <div class="form-group col-md-12 float-left">
                        <label for="staticEmail" class="col-sm-5 col-form-label text-label float-left" >Re-Enter Password : <span> * </span></label>

                        <div class="col-sm-5 float-left">
                            <input type="password" id="reenterpassword" class="form-control" formControlName="repassword" [ngClass]="{ 'is-invalid': submitted && f.repassword.errors }" appBlockCopyPaste>
							
							<div *ngIf="submitted && f.repassword.errors" class="invalid-feedback error_msg">
                                <div class="error_msg1" *ngIf="f.repassword.errors.required">Please Re-Enter New Password</div>
								
								 <div *ngIf="f.repassword.errors.confirmedValidator">New Password and Re-Enter Password must be match.</div>
                            </div>
							
                        </div>
                    </div>

                    <div class="form-group  float-left col-md-12">
                        <div class=" mx-auto col-md-4">
                            <button type="submit"  id="submitbutton" class="btn btn-block login-btn mb-4 radius-p">Submit</button>
                        </div>
                    </div>
                    
                   
       <!-- <div class="col-xs-12" *ngIf="showPasswordresetMsg">
         <p class="login-card-footer-text">Password Changed Successfully. <a href="/login" class=" forgot-password-link">Click here </a> to Login again. </p>
        </div> -->
      
      
                    
                </form>

            </div>
        </div>
    </div>
</div>