
<div class="shadow-sm  bg-white col-md-12 float-left bg-white border rounded float-left  pt-2 pb-2  mt-2 mb-2 page-height ">

<div class="float-left col-md-12 pl-0 pr-0">
	
	<form class="text-13 float-left col-md-12 pl-0 pr-0"> 
       
            <div class="float-left col-md-12 pl-0 pr-0 mt-3 ">
                <div class="col-md-6 float-left">
                     <div class="col-sm-4 mt-2 text-right float-left pl-0 mr-0 pr-0"> <label  class="text-label"> User ID  :<span> * </span>   </label>  </div>
                    <div class="col-sm-7 float-left"> 	<input class="form-control input-new ml-0" id ="" name="" type="text" readonly/> </div>
                </div>
                <div class="col-md-6 float-left">
                     <div class="col-sm-4 mt-2 text-right float-left pl-0 mr-0 pr-0"> <label  class="text-label"> User Name : <span> * </span> </label>  </div>
                    <div class="col-sm-7 float-left"> 	<input class="form-control input-new ml-0" id ="" name="" type="text" readonly/>  </div>
                </div>
			
            </div>
            <div class="float-left col-md-12 pl-0 pr-0 mt-3">
        
                <div class="col-md-6 float-left">
                    <div class="col-sm-4 mt-2 text-right float-left pl-0 mr-0 pr-0"> <label  class="text-label"> Roles : <span> * </span></label>  </div>
                    <div class="col-sm-7 ml-3 float-left border pt-2 pb-3 pr-0 mr-0"> 
                        <div class="form-check ">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="" id ="" name="" >Option 1
                        </label>
                      </div>
                      <div class="form-check mt-1">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="" id ="" name="" >Option 2
                        </label>
                      </div>
                      <div class="form-check mt-1">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="" id ="" name=""  >Option 3
                        </label>
                      </div> 
                      <div class="form-check mt-1">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="" id ="" name=""  >Option 4
                        </label>
                      </div>  
                      <div class="form-check mt-1">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="" id ="" name=""  >Option 5
                        </label>
                      </div>                                        
                    </div>
                </div>			
    
                <div class="col-md-6 float-left">
                    <div class="col-sm-4 mt-2 text-right float-left pl-0 mr-0 pr-0"> <label  class="text-label"> Application : <span> * </span> </label>  </div>
                    <div class="col-sm-7 ml-3 float-left border pt-2 pb-3 pr-0 mr-0"> 
                        <div class="form-check ">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="" id ="" name="" >Option 1
                        </label>
                      </div>
                      <div class="form-check mt-1">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="" id ="" name="" >Option 2
                        </label>
                      </div>
                      <div class="form-check mt-1">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="" id ="" name=""  >Option 3
                        </label>
                      </div> 
                      <div class="form-check mt-1">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="" id ="" name=""  >Option 4
                        </label>
                      </div>  
                      <div class="form-check mt-1">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="" id ="" name=""  >Option 5
                        </label>
                      </div>                                        
                    </div>
                </div>			
            </div>
            <div class="form-group col-md-12 float-left mt-3">
                <div class=" mx-auto col-md-3 login-card">
                    <button type="submit"  class="btn btn-block login-btn login-card  mb-4" id="" name="">Submit</button>
                </div>
            </div>
	</form>

</div>


</div>

<div class=" col-md-12 mt-3 pt-2 pb-2 pl-3 text-white rounded text-16 float-left"> </div>



	