<div class="clearfix"> </div>

<div class=" col-md-12 bg-dark footer-fix pt-2 pb-1 float-left ">
<div class="col-md-4 float-left pl-0 pr-0" > 
    <ul class = "nav navbar navbar-right d-flex d-inline-flex pl-0 pr-0">
      <a routerLink="/disclaimer" class="text-white text-13"> 
        <li class="nav-item d-inline-flex  align-items-center mr-2 ml-2"> Disclaimer || </li> </a> 
      <a routerLink="/related-links" class="text-white text-13"> <li class="nav-item d-inline-flex  align-items-center mr-2 ml-2"> Related Links || </li> 
      </a> 
      <a routerLink="/linking-policy" class="text-white text-13"> <li class="nav-item d-inline-flex  align-items-center mr-2 ml-2">  Linking Policy     </li> </a> 
    </ul>
</div>
<div class="col-md-4  float-left text-white text-13 text-center"> <p>  
    Site is designed and hosted by <span class="text-warning"> National Informatics Centre (NIC). </span> Information is provided and updated by MoHFW
    </p> </div>
<div class="col-md-4 float-left pl-0 pr-0">
    <ul class = "nav navbar navbar-left d-flex d-inline-flex">
      <a href="https://www.nic.in/" target="_blank" class="text-white text-13 nic"> <li class="nav-item d-inline-flex  align-items-center mr-2 ml-2"> <img src="assets/images/nic.png"> </li> </a> 
      <a href="https://www.india.gov.in/" target="_blank" class="text-white text-13 indgov"> <li class="nav-item d-inline-flex  align-items-center mr-2 ml-2"> <img src="assets/images/igov.jpg"> </li> </a> 
      <a href="#" target="_blank" class="text-white text-13"> <li class="nav-item d-inline-flex  align-items-center mr-2 ml-2"> <img src="assets/images/digital-logo.png"> </li> </a> 
      <a href="#" target="_blank" class="text-white text-13"> <li class="nav-item d-inline-flex  align-items-center mr-2 ml-2"> <img src="assets/images/nhm-logo.png"> </li> </a>      
    </ul>
     </div>
</div>


