<div class="col-md-10 pl-0 pr-  r 50 mb-4 mt-2 mx-auto ">
  <div class="col-md-12 float-left">
  <div class=" col-md-8 float-left logo-m ">
       <img src="assets/images/logo-rch.png" alt="logo" class="img-responsive h-pointer"  (click)="changePage()">
  </div>
  <div class=" col-md-4 float-right text-right nhm-logo">
    <img src="assets/images/nhm-toplogo.png" alt="logo" class="logo float-left col-md-5">
   <a href="/login"> <button type="submit"  class="btn btn-block bg-danger text-white mb-4 float-left col-md-6 mt-3 radius-p">Sign In </button> </a>
</div>
</div>
</div>

 <div class="card mx-auto col-md-8  login-card mb-5 page-height ">
  <p class="login-card-description  bg-primary text-white pt-2 pb-2 pl-2 mt-3 ">Disclaimer </p>
   <p  class="mb-5 pb-5 text-justify">
    Although every effort has been made to provide complete and accurate information on this website, the possibility of some errors and mistakes, cannot be ruled out. Visitors to the site are requested to cross check the information with the relevant Government department(s) and/or other source(s). The information made available here is not meant for legal evidence. Neither the Ministry of Health and Family Welfare nor National Informatics Centre (NIC) would be responsible for any data inaccuracy or delay in the updation of the data on the website.
   </p>
   <p  class="mb-3 pb-5"></p>
   </div>
   <div class="col-md-12 float-left mt-5 mb-5"></div>
  
  
   