<div class="bg-primary pt-1 col-md-12 pl-0 pr-0"></div>
<div class="col-md-10 pl-0 pr-0 mb-4 mt-2 mx-auto ">
    <div class="col-md-12 float-left mb-3">
    <div class=" col-md-8 float-left logo-m ">
        <a href=""> <img src="assets/images/logo-rch.png" alt="logo" class="logo"> </a>
    </div>
    <div class=" col-md-4 float-right text-right nhm-logo">
        <img src="assets/images/nhm-toplogo.png" alt="logo" class="logo float-left col-md-5">
       <a href="/login"> <button type="submit"  class="btn btn-block bg-danger text-white mb-4 float-left col-md-6 mt-3 radius-p">Sign In </button> </a>
    </div>
  </div>
  </div>

<div class="card mx-auto col-md-6   login-card mb-5">
    <div class=" no-gutters col-md-12">
        <div class="col-md-12">
            <div class="card-body mt-3 ">
                <p class="login-card-description  bg-primary text-white pt-2 pb-2 pl-2 ">Forgot Password </p>
				
				<ngb-alert type="danger" *ngIf="!showCaptchVerifiedMsgWrong" (close)="showCaptchVerifiedMsgWrong=true" ><div class="error_msg"><div class="error_msg1">Wrong Captcha Code</div></div></ngb-alert>
				
				<ngb-alert type="danger" *ngIf="!showNotFoundMsg" (close)="showNotFoundMsg=true" ><div class="error_msg"><div class="error_msg1">Sorry! User Not Found.</div></div></ngb-alert>
				
				

                <form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm)" autocomplete="off" class="mx-auto text-13">



                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label text-label">User ID : <span> * </span></label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback error_msg">
                                <div class="error_msg1" *ngIf="f.username.errors.required">User ID is required</div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label text-label">Gender : <span> * </span></label>
                        <div class="col-sm-5">
                            <select class="form-control" id="genderid" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                        <option value="">Please Select </option>
                        <option value="M">Male </option>
                        <option value="F">Female</option>
                        <option value="T">Transgender</option>
                      </select>
                            <div *ngIf="submitted && f.gender.errors" class="invalid-feedback error_msg">
                                <div class="error_msg1" *ngIf="f.gender.errors.required">Gender is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label text-label">Date of Birth :<span> * </span></label>
                        <div class="col-sm-5">
                            <div class="col-md-12 pl-0 pr-0">  
							
							<!--<input id="dobid" class="form-control text-right pr-4" type="text" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" formControlName="dob" ngbDatepicker #d="ngbDatepicker" [readonly]="true" [minDate]="{year: 1955, month: 1, day: 1}"
                [maxDate]="{year: 2005, month: 12, day: 31}" /> -->
				
				<input id="dobid" class="form-control text-right pr-4" type="text" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" formControlName="dob" ngbDatepicker #d="ngbDatepicker" [readonly]="true" [maxDate]="maxDate" [minDate]="minDate" [startDate]="startDate" />
				
                                <div class="font-icon pl-4" (click)="d.toggle()"> <i class="fa fa-calendar"></i> </div>
								
								<div *ngIf="submitted && f.dob.errors" class="invalid-feedback text-label error_msg">
                                <div class="error_msg1" *ngIf="f.dob.errors.required">DOB is required</div>
                            </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label text-label">Mobile No. :<span> * </span></label>
                        <div class="col-sm-5">
                            <input id="mobno" class="form-control text-right" type="text" formControlName="mobno" [ngClass]="{ 'is-invalid': submitted && f.mobno.errors }">
                            <div *ngIf="submitted && f.mobno.errors" class="invalid-feedback error_msg">
                                <div class="error_msg1" *ngIf="f.mobno.errors.required">Mobile no is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label text-label">Email :<span> * </span></label>
                        <div class="col-sm-5">
                            <input id="emailid" class="form-control" type="text" formControlName="emailid" [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }">
                            <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback error_msg">
                                <div class="error_msg1" *ngIf="f.emailid.errors.required">Email Id is required</div>
                                <div class="error_msg1" *ngIf="f.emailid.errors.pattern">Email Id is not correct.</div>
                            </div>
                        </div>
                    </div>
					
					<div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label text-label"></label>

             <div class="col-sm-3">
 
 <canvas #canvasEl width=100 height=50 class="float-left"></canvas>
 <i class="fa fa-refresh text-16 float-left mt-3 h-pointer ml-2" aria-hidden="true" (click)="changeCaptcha()"></i>
 

                
            </div>


        </div>
					
					<div class="form-group row">
          <label for="staticEmail" class="col-sm-4 col-form-label text-label">Captcha : <span> * </span></label>

           <div class="col-sm-5">

              <input type="text" id="capthaid" class="form-control" formControlName="capctha" [ngClass]="{ 'is-invalid': submitted && f.capctha.errors }">

<div *ngIf="submitted && f.capctha.errors" class="invalid-feedback error_msg">
                  <div class="error_msg1" *ngIf="f.capctha.errors.required">Captcha is required</div>
              </div>
          </div>


      </div>
					
                    <div class="form-group row">
                        <div class=" mx-auto">


                            <button type="submit" class="btn btn-block login-btn mb-4 radius-p">Submit</button>




                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>