<button 
type="hidden"
id="auto_trigger"
(click)="open(mymodal,'','View')"
class="btn btn-warning">click</button>
<!-- bootstrep model popup code start here  -->	

<ng-template #mymodal let-modal>
<!--<div class="modal-header">
   
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div> -->
  
<app-changepassword></app-changepassword>

<!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>  -->
</ng-template>	
	
<!-- bootstrep model popup code for view end  here  -->

