<div class="col-md-10 pl-0 pr-0 mb-4 mt-2 mx-auto ">
  <div class="col-md-12 float-left">
  <div class=" col-md-8 float-left logo-m ">
     <img src="assets/images/logo-rch.png" alt="logo" class="img-responsive h-pointer" (click)="changePage()">
  </div>
  <div class=" col-md-4 float-right text-right nhm-logo">
    <img src="assets/images/nhm-toplogo.png" alt="logo" class="logo float-left col-md-5">
   <a href="/login"> <button type="submit"  class="btn btn-block bg-danger text-white mb-4 float-left col-md-6 mt-3 radius-p">Sign In </button> </a>
</div>
</div>
</div>
 <div class="card mx-auto col-md-8  login-card mb-5 page-height ">
  <p class="login-card-description  bg-primary text-white pt-2 pb-2 pl-2 mt-3 ">Linking Policy </p>
   <p  class="mb-5 pb-5 text-justify">   
    At many places in this Portal, you shall find links to other websites/portals. These links have been placed for your convenience. NIC is not responsible for the contents and reliability of the linked websites and does not necessarily endorse the views expressed in them. Mere presence of the link or its listing on this Portal should not be assumed as endorsement of any kind. We can not guarantee that these links will work all the time and we have no control over availability of linked pages.
   </p>
   <p  class="mb-3 pb-5"></p>
   </div>
      
  
  
   